@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
}
html {
  font-size: 62.5%;
}
/* ----- FONT COLORS ----- */
.heading-h4,
.heading-h5 {
  color: hsl(0, 0%, 100%);
}
.paragraph-text,
.paragraph-stats {
  color: hsla(0, 0%, 100%, 0.75);
}
/* ----- FONT SIZES ----- */
.heading-h4 {
  font-size: 2.1rem;
}
.heading-h5 {
  font-size: 2rem;
}
.paragraph-text {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.paragraph-stats {
  font-size: 1em;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}
/* ----- CONTAINERS ----- */
.main-content {
  padding-inline: 30px;
}
.main-container {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
  background-color: hsl(244, 38%, 16%);
}
.description-container {
  text-align: center;
  padding-inline: 20px;
}
.image-container {
  grid-row: 1/2;
}
.image-header {
  max-width: 100%;
}
.span-text {
  color: hsl(277, 64%, 61%);
}
.stats {
  margin-bottom: 25px;
}
/* LARGER SCREENS */
@media (min-width: 75em) {
  /* ----- FONT SIZES ----- */
  .heading-h4 {
    font-size: 2.8rem;
  }
  .heading-h5 {
    font-size: 2.5rem;
  }
  .paragraph-text {
    font-size: 1.4rem;
  }
  .paragraph-stats {
    font-size: 1.2rem;
  }
  /* ----- CONTAINERS ----- */
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .description-container {
    text-align: revert;
    grid-row: 1/2;
    padding-inline: 60px;
  }
  .stats-container {
    display: flex;
    margin-top: 75px;
    gap: 20px;
  }
}
